<template>
    <lightning-card title="Map" icon-name="custom:custom14">
        <div class="slds-m-around_medium">
            <div class="map-root" lwc:dom="manual"></div>
        </div>
    </lightning-card>
</template>